.App-header {
  background-color: white;
  position: relative;
}

.header {
  position: relative;
  top: -75px;
  width: 100%;
  height: 168px;
  background-color: #00897b;
}

.title {
  color: white;
  font-size: 50px;
  align-items: center;
}

.container {
  width: 500px;
  height: 100px;
  border: 5px solid green;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.paragraph,
.secondp {
  font-size: 20px;
  color: black;
  margin: 0px;
}
.paragraph {
  font-weight: bold;
}

hr {
  width: 400px;
  background-color: black;
  height: 2px;
}
.containerSide {
  position: absolute;
  top: 250px;
  right: 500px;
  width: 325px;
  height: 510px;
  border: 5px solid green;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.button {
  width: 100px;
  height: 50px;
  background-color: #512da8;
  color: white;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
}

.containerSide div {
  width: 130px;
  margin: 10px;
  display: flex;
}
